body {
  background-color: #F2EEE5;
  background-image: -webkit-linear-gradient(rgba(200, 200, 200, 0.16) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(200, 200, 200, 0.16) 1px, transparent 1px), -webkit-linear-gradient(rgba(200, 200, 200, 0.12) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(200, 200, 200, 0.12) 1px, transparent 1px), -webkit-linear-gradient(rgba(200, 200, 200, 0.1) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(200, 200, 200, 0.16) 1px, transparent 1px), -moz-linear-gradient(0deg, rgba(200, 200, 200, 0.16) 1px, transparent 1px), -moz-linear-gradient(rgba(200, 200, 200, 0.12) 1px, transparent 1px), -moz-linear-gradient(0deg, rgba(200, 200, 200, 0.12) 1px, transparent 1px), -moz-linear-gradient(rgba(200, 200, 200, 0.1) 1px, transparent 1px), -moz-linear-gradient(0deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px);
  background-image: -ms-linear-gradient(rgba(200, 200, 200, 0.16) 1px, transparent 1px), -ms-linear-gradient(0deg, rgba(200, 200, 200, 0.16) 1px, transparent 1px), -ms-linear-gradient(rgba(200, 200, 200, 0.12) 1px, transparent 1px), -ms-linear-gradient(0deg, rgba(200, 200, 200, 0.12) 1px, transparent 1px), -ms-linear-gradient(rgba(200, 200, 200, 0.1) 1px, transparent 1px), -ms-linear-gradient(0deg, rgba(200, 200, 200, 0.1) 1px, transparent 1px);
  background-size: 4em 4em,4em 4em,1em 1em,1em 1em,.5em .5em,.5em .5em;
  color: #000;
  font-size: 14px;
}
pre code {
  font-size: 16px;
}
li {
  margin: 2px 0;
}
code {
  padding: 3px 8px!important;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 0;
  font-size: 85%;
  border-radius: 2px!important;
  font-size: 15px;
}
header {
  position: static;
}
#directory,
#docContent {
  background: rgba(247, 247, 247, 0.7);
  border: 1px solid #e0e0e0;
}
#directory {
  float: left;
  position: fixed;
  width: 220px;
  min-height: 200px;
}
#directory ul {
  padding: 6px;
  margin: 0;
  list-style: none;
  font-size: 18px;
}
#directory ul a {
  color: #000;
  text-decoration: none;
}
#directory .toc-h1,
#directory .toc-h2 {
  padding: 6px;
}
#directory .toc-h2 {
  padding-left: 25px;
}
#directory .toc-active {
  background: black;
}
#directory .toc-active a {
  color: #fff;
}
#docContent {
  overflow: hidden;
  margin-left: 240px;
  padding: 20px;
}
#docContent ul {
  padding: 0;
  list-style: none;
  counter-reset: li;
}
#docContent li {
  position: relative;
  padding-left: 32px;
  margin: 13px 0;
  line-height: 1.5em;
}
#docContent li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0;
  top: 8px;
  margin-top: -0.7em;
  background: rgba(52, 152, 219, 0.86);
  height: 1.6em;
  width: 1.6em;
  line-height: 1.6em;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
}
#docContent li:after {
  position: absolute;
  content: '';
  border: .35em solid transparent;
  left: 1.6em;
  top: 12px;
  margin-top: -0.5em;
  border-left-color: rgba(52, 152, 219, 0.86);
}
h1,
h2,
h3 {
  margin-bottom: 5px;
}
p {
  margin-top: 5px;
}
.body_content {
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei";
  padding-top: 20px;
  max-width: 1050px;
  background: none;
  margin: 0 auto;
  color: #000;
}
